<div class='login'>
  <div class='login__details' [formGroup]='loginDetailsFormGroup'>
    <mat-form-field appearance='fill'>
      <mat-label>Username</mat-label>
      <input matInput [formControl]='usernameFormControl'>
      <mat-error *ngIf="usernameFormControl.hasError('required')">Missing Username</mat-error>
    </mat-form-field>
    <mat-form-field appearance='fill'>
      <mat-label>Password</mat-label>
      <input matInput [formControl]='passwordFormControl'>
      <mat-error *ngIf="passwordFormControl.hasError('required')">Missing Password</mat-error>
    </mat-form-field>
    <button class="login__submit"
            type="submit" [disabled]="!loginDetailsFormGroup.valid"
            routerLink='/employee-view'>Submit
    </button>
  </div>
</div>
