@import 'src/utility';

.login {
  margin-top: rem-calc(48);
  margin-right: rem-calc(48);
  margin-left: rem-calc(48);
  display: flex;
  flex-direction: row;

  &__details {
     width: rem-calc(232);
     padding-left: rem-calc(24);
     padding-top: rem-calc(24);
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     background-color: #fffff1; //TODO: Platzhalter Farbe um andere Komponenten besser erkennen zu können.

   }

  &__submit {
    width: rem-calc(208);
    margin-bottom: rem-calc(24);
  }

}
