@import 'src/utility';

.qualification {
  margin-top: rem-calc(48);
  margin-right: rem-calc(48);
  margin-left: rem-calc(48);
  display: flex;
  flex-direction: row;

  &__table {
    width: rem-calc(516);
    margin-left: rem-calc(48);
    padding: rem-calc(24);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #fffff1; //TODO: Platzhalter Farbe um andere Komponenten besser erkennen zu können.
  }

  &__create {
    width: rem-calc(516);
    margin-left: rem-calc(48);
    padding: rem-calc(24);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #fffff1; //TODO: Platzhalter Farbe um andere Komponenten besser erkennen zu können.
  }

  &__submit {

  }

}
