<div class="qualification">

  <div class='qualification__table'>
    <table mat-table [dataSource]='entries' class='mat-elevation-z8'>
      <ng-container matColumnDef='designation'> <!-- Designation Column -->
        <th mat-header-cell *matHeaderCellDef> Designation </th>
        <td mat-cell *matCellDef='let d of qualifications$'>{{d.designation}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
      <tr mat-row *matRowDef='let row; columns: displayedColumns; let i = index'></tr>
    </table>
  </div>

  <div class='qualification__create' [formGroup]='qualificationFormGroup'>
    <mat-form-field appearance='fill'>
      <mat-label>Designation</mat-label>
      <input matInput [formControl]='designationFormControl'>
      <mat-error *ngIf="designationFormControl.hasError('required')">Missing Designation Name</mat-error>
    </mat-form-field>
    <button class="qualification__submit"
            type="submit" [disabled]="!qualificationFormGroup.valid">Submit
    </button>
  </div>
</div>
