@import 'src/utility';
.spacer {
  flex: 1 1 auto;

}

.app {
  font-size: 16px; /*Fallback font-size*/

  &__header {
  }

  &__logo {
    font-size: rem-calc(50);
    line-height: 4rem;
    height: auto;

  }

  &__toolbar-button {
    height: 2rem;
    width: 3rem;
    font-size: 2rem;

    .mat-icon {
      height: 2rem;
      width: 2rem;
      font-size: 2rem;

    }

  }

}
