<div class='app'>
  <div class='app__header'>
    <mat-toolbar>
      <button class='app__logo'
              mat-icon-button
              routerLink='/login-view'>
        <mat-icon>home</mat-icon>
      </button>
      <span class='spacer'></span>
      <button class='app__toolbar-button'
              mat-icon-button
              matTooltip='Employee'
              routerLink='/employee-view'>
        <mat-icon>add_circle</mat-icon>
      </button>
      <button class='app__toolbar-button'
              mat-icon-button
              matTooltip='Qualification'
              routerLink='/qualification-view'>
        <mat-icon>meeting_room</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class='app__content'>
    <router-outlet></router-outlet>
  </div>
  <div class='app__footer'>
    <!-- Leider kein Footer :( -->
  </div>
</div>
