<div class="employee">

  <div class='employee__table'>
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table mat-table [dataSource]="shittyDataIWant" class="mat-elevation-z8">

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *ngFor="let e of employees$ | async">
          {{e.lastName}} </td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *ngFor="let e of employees$ | async">
          {{e.firstName }} </td>
      </ng-container>

      <!-- Street Column -->
      <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef> Street </th>
        <td mat-cell *ngFor="let e of employees$ | async">
          {{e.street }} </td>
      </ng-container>

      <!-- Postcode Column -->
      <ng-container matColumnDef="postcode">
        <th mat-header-cell *matHeaderCellDef> Postcode </th>
        <td mat-cell *ngFor="let e of employees$ | async">
          {{e.postcode }} </td>
      </ng-container>

      <!-- City Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *ngFor="let e of employees$ | async">
          {{e.city }} </td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <!-- AngularIO Methode die *matCellDef nutzt welches aber nach ausgiebigem Testen nicht mit dem Observable klar kommen will.
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
      -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>

  <div class='employee__create' [formGroup]='employeeFormGroup'>
    <mat-form-field appearance='fill'>
      <mat-label>Last Name</mat-label>
      <input matInput [formControl]='lastNameFormControl'>
      <mat-error *ngIf="lastNameFormControl.hasError('required')">Missing Last Name</mat-error>
    </mat-form-field>
    <mat-form-field appearance='fill'>
      <mat-label>First Name</mat-label>
      <input matInput [formControl]='firstNameFormControl'>
      <mat-error *ngIf="firstNameFormControl.hasError('required')">Missing First Name</mat-error>
    </mat-form-field>
    <mat-form-field appearance='fill'>
      <mat-label>Street</mat-label>
      <input matInput [formControl]='streetFormControl'>
      <mat-error *ngIf="streetFormControl.hasError('required')">Missing Street</mat-error>
    </mat-form-field>
    <mat-form-field appearance='fill'>
      <mat-label>Postcode</mat-label>
      <input matInput [formControl]='postcodeFormControl'>
      <mat-error *ngIf="postcodeFormControl.hasError('required')">Missing Postcode</mat-error>
    </mat-form-field>
    <mat-form-field appearance='fill'>
      <mat-label>City</mat-label>
      <input matInput [formControl]='cityFormControl'>
      <mat-error *ngIf="cityFormControl.hasError('required')">Missing City</mat-error>
    </mat-form-field>
    <mat-form-field appearance='fill'>
      <mat-label>Phone</mat-label>
      <input matInput [formControl]='phoneFormControl'>
      <mat-error *ngIf="phoneFormControl.hasError('required')">Missing Phone Number</mat-error>
    </mat-form-field>
    <button class="employee__submit"
            type="submit" [disabled]="!employeeFormGroup.valid">Submit
    </button>
  </div>
</div>
<!--
<h1>LF10-Starter</h1>
Wenn Sie in der AppComponent.ts ein gültiges Bearer-Token eintragen, sollten hier die Namen der in der Datenbank gespeicherten Mitarbeiter angezeigt werden!
<ul>
  <li *ngFor="let e of employees$ | async">
    {{e.lastName }}, {{e.firstName}}
  </li>
</ul>
-->
